<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
</head>
<body>
    <h1 style="text-align: center;">Error</h1>
    <h2 style="text-align: center;">Bạn nhận được một thông báo lỗi khi đăng ký với Tên tài khoản đã tồn tại.</h2>
    <h2 style="text-align: center;">Vui lòng đăng ký bởi một tài khoản khác. Cảm ơn.</h2>
    <h3 style="text-align: center;"><a href="/">Trở về trang chủ.</a></h3>
</body>
</html>